<ion-view style="background-color: #D45A75" >

    <div class="col" style="display: table !important;  width: 100% !important; height: 100% !important;">
        <div style="  display: table-cell;  vertical-align: middle; text-align: center;">
            <h2 class="nanum-brush" style="color: white; font-size: 50px;">동행</h2>
        </div>
    </div>

    <div class="tabs no-border no-padding" style="height:auto; background-color: transparent; background-image: none;">
        <div class="col no-padding">
            <div class="row padding"  layout-align="center">
                <h2 style="color: white; font-size: 15px;">초대를 받으셨다면 '초대 코드'를 눌러주세요&nbsp;&nbsp;<i class="icon ion-help-circled"></i></h2>
            </div>
            <div class="row" style="padding-bottom: 30px; padding-top:15px;">
                <div class="col col-50">
                    <button class="button button-flat" style="width:100%; font-size:18px;" ng-click="signUp();">SIGN UP</button>
                </div>
                <div class="no-padding" style="border: solid; border-color: white; width: 1px; border-width: 1px;"></div>
                <div class="col col-50">
                    <button class="button button-flat" style="width:100%; font-size:18px;" ng-click="signIn();">LOG IN</button>
                </div>
            </div>
        </div>
    </div>
</ion-view>
