<ion-view view-title="동행">
    <div layout="column" style="height: 100%;" layout-align="center" ng-hide="campaignList">
        <div layout="row" layout-align="center" ng-hide="false" style="padding-top:50px;">
            <p>캠페인을 불러오는 중 입니다.</p>
        </div>
        <div layout="row" layout-align="center" ng-hide="false" style="padding-top:50px;">
            <ion-spinner></ion-spinner>
        </div>
    </div>

  <ion-content ng-show="campaignList" >
    <ion-list>
        <div ng-repeat="campaign_info in campaignList">
            <ion-item>
                <div class="col no-padding">
                    <div class="row no-padding ink" ng-click="nextPage(campaign_info.campaign_id);">
                        <div class="col no-padding">
                            <img ng-src="{{campaign_info.icon}}" class="dh-list-avatar"/>
                        </div>
                        <div class="col col-66 col-offset-10" style="padding-top:3px;">
                            <h2>{{campaign_info.name}}</h2>
                            <p>{{campaign_info.num_of_participants}}명이 참여하였습니다.</p>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                    <div ng-show=campaign_info.rep_picture!=null class="row" style="padding-top: 10px;">
                        <img ng-src="{{campaign_info.rep_picture}}" style="width: 100%; height: 100%;" ng-click="showImages(campaign_info.rep_picture)">

                    </div>
                    <div ng-show=campaign_info.rep_picture==null class="row" style="padding-top: 10px;">
                        <!--
                        ng-init="thumbnail(campaign_info.rep_video)"
                        -->
                        <img ng-src="img/uian_rep_img.jpg" style="width: 100%; height: 100%;" ng-click="playVideo(campaign_info.rep_video)">
                    </div>
                </div>

            </ion-item>
            <ion-item class="item-divider no-padding" style="height: 10px; min-height: 0; padding-top:10px"></ion-item>
        </div>
    </ion-list>
  </ion-content>
</ion-view>