

<div class="modal transparent fullscreen-player" ng-click="closeModal()" style="overflow: hidden;">

    <div layout="column" style="width:100%; height:100%" layout-align="center">

    <div class="scalable scalable-16-9">
        <div class="scalable-content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/88Ff-pR1X7o" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    </div>

</div>


<!--<video ng-src="{{clipSrc}}" class="centerme" controls="controls" autoplay></video> -->
